{% extends "layout.html" %}
{% block content %}
<div class = "content_wrapper">
  <div class = "form_container">
    <h1> {{legend}} </h1>
    
    <form method="POST" novalidate="novalidate" action="">
    {{ form.csrf_token }}

      <div class = "title_div">    
        <div class = 'user'>
          {{form.title(id = "Title", placeholder= "Title of your Post")}}
          {% for error in form.title.errors %}
          <script> document.getElementById("Title").style.borderColor = "red"; </script>
            <span class = "title_error" style="color: red;"> <img src="{{ url_for('static',filename='error.jpg')}}" > {{ error }}</span>
          {% endfor %}
        </div>

        <div class = 'content_div'>
          {{form.content(id = "content", placeholder = "Content goes here!")}}
          {% for error in form.content.errors %}
          <script> document.getElementById("content").style.borderColor = "red"; </script>
            <span class = "content_error" style="color: red;"> <img src="{{ url_for('static',filename='error.jpg')}}" > {{ error }}</span>
          {% endfor %}
        </div>
      </div>
      
      <div class ="input_btn">
        <input id = "btn" type="submit" value="Post"> 
      </div>
    </form>
    </div>
  </div>
{% endblock content %}