<title>Home/ SBD212</title>
{% extends 'layout.html' %}

{% block content %}
<div class = 'Sort_Posts' style ='margin-left: 365px; padding-bottom: 15px; padding-top:35px; font-family: Roboto, sans-serif;'>
  <form id = 'sorting_form' method = 'POST'>
    <span id = 'Sort' > Sort posts by date </span>
    {{ form.csrf_token }}
      {{ form.sorted (id = 'sorting_field', style = 'font-family: Roboto, sans-serif')}}
  </form>
</div>

<div class = 'blog_post'>
  {% for post in posts %}
    <div class = 'post_container'>
      <div class = img_post> <img src="{{ url_for('static', filename='img/' + post.author.image_file) }}"></div>
      <div class = "post">
        <div class = 'author_time'> 
          <p1> {{ post.author.username }} </p1> 
          <span> | </span>  
          <p2> {{ post.date.strftime('%Y-%m-%d') }} </p2> 
        </div>
        <hr class = 'hr1'>

        <div class = 'post_title'>
          <a href="{{url_for('post', post_id=post.id)}}"> <h2> {{ post.title }} </h2> </a> 
        </div>
      
        <div class = 'short_description'>
          <p id = 'post_short_description'> {{ post.content }}</p>
        </div>
        

        <div class = 'full_post_redirect'>
          <a href="{{url_for('post', post_id=post.id)}}"> Continue reading  </a> 
        </div>

        <hr class = hr2>

        <!-- rating and comments -->
        <div class = 'post_feedback'>
          <div class = 'post_rating'>
            <span class="material-icons"> star_rate </span>
            {% if post.avg_rating %}
              <p> {{ post.avg_rating }} </p>
            {% else %}
              <p>  </p>
            {% endif %}
          </div>
          
          <div class = 'comment_text'>
            <span class="material-icons"> comment </span>
            <p> {{ post.comments }} </p>
          </div>
        </div>

        <hr class = hr3>
      </div>  
    </div>
  {% endfor %}
</div>

<script type ="text/javascript">
  
    //trim text of posts displayed 
    var text = document.querySelectorAll("div.short_description > p");
    text.forEach(function(elem) {
      text = elem.innerText.substring(0,180) + '...';
      elem.innerText = text;
    });
    
  //sorting posts in ascending/descending order
  var sorting_posts = document.getElementById('sorting_field');
  sorting_posts.addEventListener('change', function (event)
  {
    document.getElementById("sorting_form").submit();
  });

</script>
{% endblock %}