{% extends 'layout.html' %}
{% block content %}

<div class = "form_container_login">
  <h1> Sign in </h1>
  <h2> Using you existing account </h2>
  <form method="POST" novalidate="novalidate" action="">
            {{ form.csrf_token }}

    <div class = "login_credentials">    
      <div class = 'user'>
        {{form.username(id = "username", placeholder = "Username")}}
        {% for error in form.username.errors %}
        <script> document.getElementById("username").style.borderColor = "red"; </script>
          <span class = "username_error" style="color: red;"> <img src="{{ url_for('static',filename='error.jpg')}}" > {{ error }}</span>
        {% endfor %}
      </div>

      <div class = 'pass'>
        {{form.password(id = "password", placeholder = "Password")}}
        {% for error in form.password.errors %}
        <script> document.getElementById("password").style.borderColor = "red"; </script>
          <span class = "pass_error" style="color: red;"> <img src="{{ url_for('static',filename='error.jpg')}}" > {{ error }}</span>
        {% endfor %}
      </div>
    </div>
    
    <div class= "Checkbox">
      {{ form.remember }} Remember Me
    </div> 
    
    <div class ="input_btn">
      <a href="{{url_for('register')}}"> Click here to Register instead </a>
      <input id = "btn" type="submit" value="Login"> 
    </div>
  </form>
</div>
{% endblock content %}
