<div class = 'rate_btn_feedback'>
    <form id = 'rating_submit_id' method="POST" >
        {{ form_rating.csrf_token }}
            <div class = 'stars_container_feedback'>
                <div onclick='rate(event)' class = 'stars_feedback'>
                    <span id= '1' class="material-icons"> star_border </span>
                    <span id= '2' class="material-icons"> star_border </span>
                    <span id= '3' class="material-icons"> star_border </span>
                    <span id= '4' class="material-icons"> star_border </span>
                    <span id= '5' class="material-icons"> star_border </span>
                </div>
            </div>
        {{ form_rating.rate(id = 'rating_field') }}
        </form>
</div>
  